<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ongoing's tools</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
	<form action="/" method="get">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <br><br>
                <label for="script">Script:</label>
                <select id="script" name="script">
                {}
                </select>
                <br><br>
                <input type="submit" value="Submit">
        </form>
</body>
</html>
