<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container">
        <h1>Bienvenido a la web del equipo de Ongoing.</h1>
        <p>Porfavor, seleccione la herramienta a usar de los enlaces que están a continuación:</p>
        <ul>
            <li class="list-group-item"><a href="/guardias.html">Reporte de Guardia</a></li>
            <li class="list-group-item"><a href="/report.html">Generador de reportes y R4B</a></li>
        </ul>
    </div>
</body>
</html>

